$main-color: #068fff;
$hover-color: #0172ce;

$draw: ".draw", ".stand", ".hang", ".rope", ".head", ".body", ".hands", ".legs";
$man-parts: ".head", ".body", ".hands", ".legs";

$color_1: #ddebf0;
$background-color_1: transparent;
$background-color_2: #2761c3;
$background-color_3: #27c39f;
